@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Qa6185.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Qa6185.Web.Pages.MyEntities
@using Qa6185.MyEntities;
@using System.Globalization
@inject IHtmlLocalizer<Qa6185Resource> L
@model CreateModalModel
@{
    Layout = null;
}


<form data-ajaxForm="true" asp-page="/MyEntities/CreateModal" autocomplete="off">
    <abp-modal id="MyEntityCreateModal">
        <abp-modal-header title="@L["NewMyEntity"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
                    

            <abp-input asp-for="MyEntity.Name"   />


            <abp-input asp-for="MyEntity.Property2"   />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
